<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% load i18n %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <meta name="author" content="Oliver Bienert">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="{% static 'site/ico/favicon.ico' %}">

    <title>{% block title %}{% include "_brandname.html" %} :: {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Bootstrap table CSS -->
    <link href="{% static 'bootstrap/css/bootstrap-table.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this site -->
    {% block styles %}
        <link href="{% static 'site/css/main.css' %}" rel="stylesheet">
    {% endblock styles %}

    <!-- Custom tags for the head tag -->
    {% block extrahead %}{% endblock extrahead %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>

{% block navbar %}
    <div class="navbar navbar-expand-md navbar-dark sticky-top bg-dark" role="navigation">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url 'home' %}">
            {% block navbar-brand %}
                <img
                        src="{% static 'site/img/leuchtturm_logo.png' %}"
                        alt="logo"
                        class="d-inline-block align-top border"
                        width="30"
                        height="30"
                >
                {% include "_brandname.html" %}
            {% endblock %}
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                        </li>
                    {% endif %}
                    <li class="nav-item dropdown ">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button">
                            {{ user.get_full_name|truncatechars:20 }}
                            <span class="caret"></span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                            <a class="dropdown-item" href="{% url 'accounts:logout' %}">{% trans 'Logout' %}</a>
                            <a class="dropdown-item" href="{% url 'accounts:password-change' %}">{% trans 'Password Change' %}</a>
                        </div>
                    </li>
                {% else %}
                    <a class="btn btn-primary" href="{% url 'accounts:login' %}" role="button">{% trans 'Log in '%}</a>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock navbar %}

{% block splash %}
{% endblock splash %}

{% block container %}
{% endblock container %}


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'jquery/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'jquery/js/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap-table.min.js' %}"></script>
<script src="{% static 'bootstrap/extensions/bootstrap-table-mobile.min.js' %}"></script>
<script src="https://kit.fontawesome.com/c94b753db0.js" crossorigin="anonymous"></script>
{% block scripts %}
{% endblock scripts %}
</body>
</html>


