{% extends "base.html" %}
{% load i18n %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Nach Hause{% endblock %}

{% block navbar %}
    {{ block.super }}
{% endblock %}

{% block splash %}
    {% if not user.is_authenticated %}
        <div class="jumbotron jumbotron-carousel corporate-jumbo">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8">
                        <h1>{% include "_brandname.html" %}</h1>
                        <p>{% trans 'Fees, Notifications, Authorities & Co.' %}</p>
                        <p style="font-size: xx-small">{% trans 'Image by' %} <a
                                href="https://pixabay.com/de/users/creativesignature-1460253/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1633406">Chris
                            Stermitz</a> {% trans 'at' %} <a
                                href="https://pixabay.com/de/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1633406">Pixabay</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-4">

                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock splash %}

{% block container %}

    {% if user.is_authenticated %}
        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link {{ home }}" href="{% url 'home' %}">
                                    {% trans 'Dashboard' %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {{ children }}" href="{% url 'montedb:child-list' %}">
                                    {% trans 'Children' %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {{ adults }}" href="{% url 'montedb:adult-list' %}">
                                    {% trans 'Adults' %}
                                </a>
                            </li>
                        </ul>

                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>{% trans 'Saved reports' %}</span>
                            <a class="d-flex align-items-center text-muted" href="#">
                                <span data-feather="plus-circle"></span>
                            </a>
                        </h6>
                        <div class="reports"></div>
                    </div>
                </nav>


                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
                        {% block main %}
                            <h5>{% trans 'Dashboard' %}</h5>
                            <div class="btn-toolbar mb-2 mb-md-0">
                                <div class="btn-group mr-2">
                                    <button class="btn btn-sm btn-outline-secondary">{% trans 'Share' %}</button>
                                    <button class="btn btn-sm btn-outline-secondary">{% trans 'Export' %}</button>
                                </div>
                                <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                                    <span data-feather="calendar"></span>
                                    {% trans 'This week' %}
                                </button>
                            </div>
                        {% endblock main %}
                    </div>
                </main>

            </div>
        </div>
    {% endif %}
{% endblock container %}

{% block scripts %}
    <script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}

