<div class="list-group">
	{% for report in reports %}
		<a href="{{ report.url }}" class="list-group-item list-group-item-action flex-column align-items-start">
			<div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1">{{ report.type }}</h5>
				<small>{{ report.date }}</small>
			</div>
			<p class="mb-1">{{ report.name }}</p>
		</a>
	{% endfor %}
</div>