{% load custom_tags l10n %}

<div>
    <h1>Elternbeitragsrechnung</h1>
    <p>
        {{ config.REPORT_HEADER | linebreaks}}
    </p>
    <p>Beitragsbescheid, gültig ab: {{ valid_from }}</p>
    <h2>Empfänger</h2>
    <p>
        {{ data.payer.last_name }}, {{ data.payer.first_name }}<br>
        {{ data.payer.street }} {{ data.payer.house_number }}<br>
        {{ data.payer.zip_code}} {{ data.payer.city }}
    </p>
    <h2>Beiträge</h2>
    <p>Gemäß § 17 des Kindertagesstättengesetzes (KitaG Land Brandenburg) vom 27.06.2004  und der von der Mitgliederversammlung zuletzt beschlossenen Beitragsordnung wird Ihr monatlicher Beitrag für die Nutzung der Einrichtungen des Freie Montessorischule Barnim e.V. wie folgt festgesetzt:</p>
    <table style="border-width:0;">
        <tbody>
        {% for child, childCalculation in data.children.items %}
            <tr style="font-weight: bold">
                <td>{{ child }}</td>
                <td>{{ childCalculation.fee|euro }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2>Berechnung</h2>
    <table class="report">
        <tr>
            <th>Name</th>
            <th>Eink.</th>
            <th>Kinderg.</th>
            <th>Erw. Betr.</th>
            <th>Berücks. Eink.</th>
            <th>Betrag</th>
        </tr>
        {% for child, childCalculation in data.children.items %}
        <tr>
            <td>{{ child }}</td>
            <td>{{ childCalculation.income|euro }}</td>
            <td></td>
            <td></td>
            <td>{{ childCalculation.incomeApplied|euro }}</td>
            <td>{{ childCalculation.fee|euro }}</td>
        </tr>
        {% endfor %}
    </table>
    <h2 id="page-break">Einkommen</h2>
    <table class="report">
        <tr>
            <th>Name</th>
            <th>Abhäng.</th>
            <th>Selbst.</th>
            <th>AA</th>
            <th>Unterh.</th>
            <th>Sonst.</th>
            <th>Abzügl.</th>
            <th>Gesamt</th>
        </tr>
        {% for adult, adultCalculation in data.adults.items %}
        <tr>
            <td>{{ adult }}</td>
            <td>{{ adultCalculation.salary|euro }}</td>
            <td>{{ adultCalculation.income|euro }}</td>
            <td>{{ adultCalculation.unemployment|euro }}</td>
            <td></td>
            <td>{{ adultCalculation.other_payments|euro }}</td>
            <td>{{ adultCalculation.deduction|euro }}</td>
            <td>{{ adultCalculation.total_income|euro }}</td>
        </tr>
        {% endfor %}
    </table>
    <h3>Bemerkungen</h3>
    <p>{{ message }}</p>
    <p>Die Elternbeiträge werden zum 15. des Monats eingezogen.</p>
    <p>Für eventuell erforderlich werdende Mahnungen werden jeweils 5,- € Gebühren erhoben.<br>Veränderungen des Gesamteinkommens von mehr als 5 % müssen dem Vorstand unter Vorlage entsprechender Bescheide zur Kenntnis gegeben werden.</p>
    <p>Dieser Beitragsbescheid ersetzt alle früheren Bescheide.</p>
    <p>Eberswalde, den {{ created }}</p>
</div>
